
header, footer {
    padding: .05px;
    background-color: #edf6f9;
    text-align: center;
    border-radius: 30px;
  }

p {
    text-align:center;
    color: #84a59d;
}

header img {
    float: right;
    width: 100px;
    height: auto;
  }

  header, main, footer {
    max-width: 800px;
    margin: 0 auto;
  }